services:
  
  postgres:
    image: postgres:15.15-trixie
    ports:
      - "5432:5432"
    restart: unless-stopped
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ${DB_DATA_DIR}:/var/lib/postgresql/data
    user: ${USER_ID}:${GROUP_ID}
  
  casdoor:
    image: casbin/casdoor:2.221.0
    container_name: casdoor
    restart: unless-stopped
    ports:
      - 11000:8000
    environment:
      driverName: postgres
      dataSourceName: "user=${CASDOOR_DB_USER} password=${CASDOOR_DB_PASSWORD} host=host.docker.internal port=5432 sslmode=disable dbname=${CASDOOR_DB_NAME}"
    depends_on:
      - postgres
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "bee.home:192.168.0.162"
